a {
	color: #0721ef;
	font-style: italic;
	font-size: 18px;
	font-weight: 500;
	text-decoration: none;
}

button {
	height: 30px;
	width: 30%;
	max-width: 250px;
}

@media (max-width: 576px) {
	button {
		height: 35px;
		width: 50%;
	}
}
.hangman {
	width: 90vw;
	margin: 0 auto;
}

.welcome {
	height: 82vh;
	width: 90vw;
	display: flex;
	flex-flow: column;
	justify-content: space-evenly;
	align-items: center;
}

.play {
	height: 82vh;
	width: 90vw;
	display: flex;
	flex-flow: column;
	justify-content: space-around;
	align-items: center;
}

.play input {
	width: 27px;
	text-align: left;
	border: 0;
	font-size: 21px;
	letter-spacing: 10px;
}

@media (max-width: 576px) {
	.play input {
		width: 27%;
	}
}

.play input:focus {
	outline: none;
}

.play div {
	font-size: 21px;
}

.result {
	height: 82vh;
	width: 90vw;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: space-evenly;
}

.button_block {
	width: 45%;
	display: flex;
	flex-flow: row;
	justify-content: inherit;
}

@media (max-width: 576px) {
	.button_block {
		width: 111%;
	}
}

.button_block > button {
	width: 40%;
	max-width: 250px;
}
