a {
	color: #0721ef;
	font-style: italic;
	font-size: 18px;
	font-weight: 500;
	text-decoration: none;
}

button {
	height: 30px;
	width: 30%;
	max-width: 250px;
}

h1 {
	text-align: center;
}

@media (max-width: 576px) {
	button {
		height: 35px;
		width: 50%;
	}
}

.hangman {
	width: 90vw;
	margin: 0 auto;
}

.welcome {
	height: 82vh;
	width: 90vw;
	display: flex;
	flex-flow: column;
	justify-content: space-evenly;
	align-items: center;
}

.play {
	height: 82vh;
	width: 90vw;
	display: flex;
	flex-flow: column;
	justify-content: space-around;
	align-items: center;
}

@media (max-width: 576px) {
	.play {
		justify-content: start;
	}
}

@media (max-width: 576px) {
	.play img {
		width: 60%;
	}
}

.play input {
	width: 27px;
	border: 0;
	font-size: 21px;
	letter-spacing: 10px;
}

@media (max-width: 576px) {
	.play input {
		width: 27%;
	}
}

.play input:focus {
	outline: none;
}

.play div {
	font-size: 21px;
}

.result {
	height: 82vh;
	width: 90vw;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: space-evenly;
}

.button_block {
	width: 45%;
	display: flex;
	flex-flow: row;
	justify-content: inherit;
}

@media (max-width: 576px) {
	.button_block {
		width: 111%;
	}
}

.button_block > button {
	width: 40%;
	max-width: 250px;
}

.display {
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	width: 32px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1px 16px 0px 0px;
	font-size: 32px;
	position: relative;
}
/* .display:last-child {
	border-right: none;
} */

.wrap {
	/* border: 1px solid rgba(0, 0, 0, 0.2); */
	display: inline-block;
	position: relative;
	display: flex;
}

.input {
	position: absolute;
	border: none;
	font-size: 32px;
	text-align: center;
	background-color: transparent;
	outline: none;
}

.shadows {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	box-shadow: 0 0 0 4px rgba(58, 151, 212, 0.28);
}
